/* Layout principal con sidebar + contenido */
.layout {
  display: flex;
  min-height: 100vh;  /* ocupa toda la altura de la ventana */
}

/* Contenido sin sidebar */
.content {
  margin-left: 0;
  flex: 1;
  transition: margin-left 0.5s ease; /* animación suave */
}

/* Contenido con sidebar */
.content.with-sidebar {
  margin-left: 330px; /* mismo ancho del sidebar */
}
