<!-- 3. HABILIDADES-->

<section class="skills-cards">
  <div class="skills-row">
    <div class="skill-card">
      <div class="skill-icon"><i class="fas fa-robot"></i></div>
      <h3>MIEMBRO DE SEMILLERO</h3>
      <p>
        Javex - Semillero de Robótica y Programación de la Universidad Javeriana,
        participando en proyectos innovadores y colaborativos.
      </p>
    </div>

    <div class="skill-card">
      <div class="skill-icon"><i class="fas fa-graduation-cap"></i></div>
      <h3>GRADO DE INGENIERIA DE SISTEMAS</h3>
      <p>
        Estoy cursando mi grado en Ingeniería de Sistemas en la Universidad Javeriana.
        Excelencia académica con un promedio ponderado de 4.3/5.0.
      </p>
    </div>

    <div class="skill-card">
      <div class="skill-icon"><i class="fas fa-chalkboard-teacher"></i></div>
      <h3>MONITOR ACADÉMICO EN PROGRAMACIÓN</h3>
      <p>
        Ayudo a estudiantes a comprender conceptos de programación, estudiante de la Universidad Javeriana.
      </p>
    </div>
  </div>

  <!-- Otra fila -->
  <div class="skills-row">
    <div class="skill-card">
      <div class="skill-icon"><i class="fas fa-lightbulb"></i></div>
      <h3>MIEMBRO DEL CENTRO DE EMPRENDIMIENTO JAVERIANO</h3>
      <p>
        Participación activa en iniciativas de emprendimiento y desarrollo de proyectos innovadores. En el programa de Javeriana Territorio Emprendedor.
      </p>
    </div>

    <div class="skill-card">
      <div class="skill-icon"><i class="fas fa-handshake"></i></div>
      <h3>EXPERIENCIA EN EL ÁREA DE VENTAS</h3>
      <p>
        Experiencia en ventas y atención al cliente, desarrollando habilidades de comunicación y negociación. En la Papelería Emalu.
      </p>
    </div>

    <div class="skill-card">
      <div class="skill-icon"><i class="fas fa-square-root-alt"></i></div>
      <h3>TUTOR DE MATEMÁTICAS</h3>
      <p>
        Doy clases de matemáticas para jóvenes de colegio, de forma independiente y presencial.
      </p>
    </div>
  </div>
</section>
