.skill-card {
  flex: 1;
  background: #1a1a1a;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 30px 20px;
  text-align: center;
  transition: all 0.6s ease;
  opacity: 0;
  transform: translateY(50px) scale(0.95);
}

.section-title2 {
  font-size: 2.5rem;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 50px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  position: relative;
}

.skills-cards{
  margin-top: 50px;
  margin-right: 30px;
  margin-left: 30px;
}

.skills-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.skill-card {
  flex: 1;
  background: #1a1a1a;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 30px 20px;
  text-align: center;
  transition: all 0.6s ease;
  opacity: 0;
  transform: translateY(50px) scale(0.95);
}

/* Animación al aparecer */
.skill-card.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.skill-card:hover {
  border-color: #03dac6;
  box-shadow: 0 0 20px rgba(3, 218, 198, 0.6);
}

.skill-icon {
  font-size: 36px;
  color: #03dac6;
  margin-bottom: 15px;
}

.skill-card h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
}

.skill-card p {
  font-size: 14px;
  color: #aaa;
  line-height: 1.5;
}
