<div class="myprofile">
  <!-- Fondo animado -->
  <div class="container">
    <div class="item" style="--i:0;"></div>
    <div class="item" style="--i:1;"></div>
    <div class="item" style="--i:2;"></div>
    <div class="item" style="--i:3;"></div>
    <div class="item" style="--i:4;"></div>
    <div class="item" style="--i:5;"></div>
    <div class="item" style="--i:6;"></div>
    <div class="item" style="--i:7;"></div>
    <div class="item" style="--i:8;"></div>
    <div class="item" style="--i:9;"></div>
    <div class="item" style="--i:10;"></div>
    <div class="item" style="--i:11;"></div>
    <div class="item" style="--i:12;"></div>
    <div class="item" style="--i:13;"></div>
    <div class="item" style="--i:14;"></div>
    <div class="item" style="--i:15;"></div>
    <div class="item" style="--i:16;"></div>
    <div class="item" style="--i:17;"></div>
    <div class="item" style="--i:18;"></div>
    <div class="item" style="--i:19;"></div>
    <div class="item" style="--i:20;"></div>
  </div>


  <!-- Texto y overlay encima -->
  <div class="overlay">
    <h1 class="intro-text">
      ¡Hola!, Soy Daniel León <br>
      <span class="highlight">{{ currentWord }}</span>
    </h1>
  </div>
</div>

<app-aboutme></app-aboutme>
<app-habilidades></app-habilidades>
<app-cursos></app-cursos>
<app-projects></app-projects>
<!--<app-experiences></app-experiences>-->
<app-tech></app-tech>
<app-contact></app-contact>
<app-chatbot></app-chatbot>