<div class="myprofile">
  <!-- Fondo animado -->
  <div class="hole">
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
    <i></i>
  </div>


  <!-- Texto y overlay encima -->
  <div class="overlay">
    <h1 class="intro-text">
      ¡Hi there, I'm Daniel! <br>
      <span class="highlight">{{ currentWord }}</span>
    </h1>
  </div>
</div>

<app-aboutme></app-aboutme>
<app-habilidades></app-habilidades>
<app-cursos></app-cursos>
<app-projects></app-projects>
<!--<app-experiences></app-experiences>-->
<app-tech></app-tech>
<app-contact></app-contact>
