:root {
  /* Paleta principal */
  --color-bg: #ffffff;
  --color-text: #222222;
  --color-primary: #0077ff;
  --color-secondary: #f0f0f0;

}

:root {
  --color-primary: #244C54;
  --color-secondary: #03dac6;
  --color-dark-bg: #06050e;
  --color-light-bg: #f8f9fa;
  --color-white: #ffffff;
  --color-text-dark: #333333;
  --color-text-light: #666666;
  --gradient: linear-gradient(135deg, var(--color-primary) 0%, var(--color-secondary) 100%);
}


:root {
  --color-bg-sidebar: #06050e;
  --color-text-primary: #ffffff;
  --color-text-secondary: #bbb;
  --color-highlight: #DAC29E;

  --color-btn-contact: #7a3eff;
  --color-btn-linkedin: #0077b5;
  --color-btn-github: #181717;
  --color-btn-cv: #2ecc71;

  --sidebar-desktop: 290px;
  --sidebar-tablet: 200px;
  --sidebar-mobile: 140px;
}

:root {
  --color-bg-about: #111;
  --color-text-main: #ffffff;
  --color-text-secondary: #bbb;
  --color-highlight: #DAC29E;

  --color-card-bg: #1e1e1e;
  --color-card-hover-border: #DAC29E;
}




/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #06050e;
}

/* Animación de desvanecimiento (header superior) */
.fade-out {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

/* Animación de entrada desde la izquierda (sidebar) */
.slide-in {
  animation: slideIn 0.8s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
