:root {
  /* Paleta principal */
  --color-bg: #ffffff;
  --color-text: #222222;
  --color-primary: #0077ff;
  --color-secondary: #f0f0f0;

}

:root{
  --color-main: #06050e;
  --color-main2: #2d2f32;
  --color-second: #DAC29E;
  --color-title: #e59c2f;
  --color-border: #f1c63a;
  --color-text2: #f0f0f0;
  --color-tech: rgba(255,255,255,0.03);

  --color-btn-contact: #7a3eff;
  --color-btn-linkedin: #0077b5;
  --color-btn-github: #181717;
  --color-btn-cv: #2ecc71;

  --sidebar-desktop: 290px;
  --sidebar-tablet: 200px;
  --sidebar-mobile: 140px;
}


:root {
  --color-bg-sidebar: #06050e;
  --color-text-primary: #ffffff;
  --color-primary: #0077ff;
  --color-secondary: #f0f0f0;
  --color-text-secondary: #f1c63a;
  --color-highlight: #e59c2f;

}

:root {
  --color-bg-about: #111;
  --color-text-main: #ffffff;
  --color-text-secondary: #bbb;

  --color-card-bg: #1e1e1e;
  --color-card-hover-border: #DAC29E;
}




/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #06050e;
}

/* Animación de desvanecimiento (header superior) */
.fade-out {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

/* Animación de entrada desde la izquierda (sidebar) */
.slide-in {
  animation: slideIn 0.8s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
