<!-- 4. CURSOS Y EDUCACIÓN -->
<div class="courses-section" id="cursos">
  <h2 class="section-title2">Cursos y Educación</h2>
  <!-- Botón izquierda (oculto en móviles con CSS) -->
  <!-- Botón izquierda -->
  <button class="carousel-btn left" (click)="prevSlide()">
    <div class="arrow">
      <div class="arrow-top"></div>
      <div class="arrow-bottom"></div>
    </div>
  </button>

  <div 
    class="carousel" 
    (touchstart)="onTouchStart($event)" 
    (touchmove)="onTouchMove($event)" 
    (touchend)="onTouchEnd()">    

    <!-- Track -->
    <div 
      class="carousel-track" 
      [style.transform]="'translateX(-' + currentIndex * (100 / visibleCards) + '%)'">
      
      <div class="card" *ngFor="let course of courses">
        <img [src]="course.image" alt="Imagen del curso">
        <div class="card-content">
          <h3>{{ course.title }}</h3>
          <p>{{ course.description }}</p>
        </div>
        <button class="learn-more">
          <span aria-hidden="true" class="circle">
          <span class="icon arrow"></span>
          </span>
          <span class="button-text">Learn More</span>
        </button>
      </div>
    </div>

  </div>
  <!-- Botón derecha (oculto en móviles con CSS) -->
    <!-- Botón derecha -->
  <button class="carousel-btn right" (click)="nextSlide()">
    <div class="arrow arrow-right">
      <div class="arrow-top"></div>
      <div class="arrow-bottom"></div>
    </div>
  </button>
</div>
