.footer {
  background: #06050e;
  color: #ddd;
  padding: 40px 20px 20px 20px;
  margin-top: 0px;
}


/* Línea inferior */
.footer-bottom {
  border-top: 1px solid #333;
  text-align: center;
  padding-top: 15px;
  margin-top: 20px;
  font-size: 13px;
  color: #777;
}
